h1, h3 {
  text-align: center;
}


.column{
  float: left;
  width: 20%;
  border: 2px solid brown;
  margin: 20px;
  padding: 8px;
}
.column p .name {
  font-weight: bold;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:20%;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.column ul{
  font-weight: bold;
  font-style: oblique;
}

h2{
  clear:both;

}

.requirements{
  font-size: 20px;
}

.adopt{
  font-size:25px;
  color: green;
}

body{
  background-color: #fcf9ea;
}
